<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            a.button {
                -webkit-appearance: button;
                -moz-appearance: button;
                appearance: button;
                text-decoration: none;
                color: initial;
            }
        </style>
    </head>
    <body>
        <h2>Multiplayer</h2>
        <a class="button" href="v1/games/create">Create Game</a>
        <a class="button" href="v1/games/all">Join Game</a>
    </body>  
</html>